<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img src="<%= product.imageUrl %>" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= product.price %></h2>
                    <p class="product__description"><%= product.description %></p>
                </div>
                <form action="/add-to-cart" class="card__actions" method="post">
                    <a href="/products/<%= product._id %>" class="btn">view Detail</a>
                    <input type="hidden" name="prodId" value="<%= product._id %>" />
                    <button type="submit" class="btn">Add to Cart</button>
                </form>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>