<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    
    <% if (cart == null || cart.items.length == 0) {%>
        <h2>No item in shopping cart</h2>
    <%} else {%>
        <h2 class="float-left">Shopping Cart Detail</h2>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <% for(let i=0; i<cart.items.length; i++){
                    let item = cart.items[i];
                %>
                <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= item.productId.title %></td>
                    <td><%= item.productId.price %></td>
                    <td><%= item.qty %></td>
                    <td>
                        <form action="/delete-cart" method="POST">
                            <input type="hidden" name="prodId" value="<%= item.productId._id %>">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }%>
                <tr><td>Total Price: </td><td colspan=4>: <%= cart.totalPrice %> </td></tr>
                <tr><td>
                    <form action="/checkout" method="POST">
                        <input type="hidden" name="test">
                        <button type="submit" class="btn">Checkout</button>
                    </form></td>
                </tr>
            </tbody>
          </table>

          
    <%}%>

    <%- include('../includes/end.ejs') %>